<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <div>
      <h1><%= @title %></h1>
      <p><a href="/dogs">Back to the list</a></p>
      <p>
        id <%= @dog.id %>, name: <strong><%= @dog.name %></strong>
      </p>
    </div>
  </body>
</html>
